.col-5{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color: black;
}

.title-r {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
}
.list-item-card.pt-10 {
    background-color: rgb(56, 54, 54);
    border-color: black;
    box-shadow:2px 2px black;
}

.list-item-card.completed {
    border-left: 10px solid rgb(163, 12, 12);
}
.btn.btn-primary {

    color:rgb(85, 75, 136);
    background-color: rgb(200, 221, 14);
    border-color: black;
}
.btn.btn-danger.delete.mr-10 {
    background-color:palevioletred;
    color: rgb(46, 21, 15);
    border-color: black;
}
.mr-10 {
    color: peachpuff;
    margin-right: 10px;
}

.pt-10 {
    padding-top:10px;
}

.mt-20 {
    margin-top:20px;
}

.btn-success {
    color:mintcream;
    background-color: rgb(26, 41, 22);
    border-color: black;
}

.btn.col-2 {
    padding:0%;

}
.todos {

    border: 3px solid rgb(12, 12, 12);
    padding: 10px 14px;
    margin: 10px auto;
    box-shadow: 4px 4px rgb(5, 5, 5);
    border-radius: 20px;
    background-color: rgb(226, 247, 119);
}

.delete {
    float: right;
}

.list-item-card.completed {
    border-left:10px solid darkred;
}

.list-card {
    padding: 0px;
}

.list-item-card {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 10px auto;
    box-shadow: 2px 2px #ccc;
    border-radius: 10px;
}